header {
    font-family: 'Poiret One', Helvetica;
    background-size: cover;
    background-color: white;
}
h1 {
    color: white;
    font-family: 'Poiret One', Helvetica;
    font-size: 150px;
    text-align: center;
}
body {
	background-color: black;
}