<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-default'>
       <div class='container-fluid'>
         <ul class='nav navbar-nav navbar-right'>
          <li><a href='/'>Home</a></li>
          <li><a href='about'>About</a></li>
         </ul>
        </div>
       </nav>
    </header>
       <br>
       <h1>Join the<span class='pink'> lovely</span> ladies of the coding community<span class='pink'> &#9829</span></h1><br>
       <p>The tech industry is male dominated and often women do not feel comfortable having their voice heard. Even on StackOverflow there have been times where women were seen as inferior to men, and it has driven many women away.<br><br>Women have questions. Women can answer. This site gives women an outlet to do just that. This is a site where women can feel comfortable asking and answering technical questions, and build a strong community of women coders.</p>
  </body>
</html>