<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-default'>
       <div class='container-fluid'>
         <ul class='nav navbar-nav navbar-right'>
          <li><a href='/'>Home</a></li>
          <li><a href='about'>About</a></li>
         </ul>
        </div>
       </nav>
    </header>
       <br>
    <h1>Join the community of women problem-solvers.</h1>
    <button onclick="location.href='login'"
    type='button' class='btn btn-default btn-lg'>Login</button>&nbsp
    <button onclick="location.href='signup'"
    type='button' class='btn btn-danger btn-lg' id='pink-btn'>Signup</button>
  </body>
</html>