<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- jQuery -->
  	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>Yes we code.</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="/static/js/app.js"></script>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
	<div class="container-fluid">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav navbar-center">
	    <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
  	  </ul>
	</div>
       </nav>
    </header>
       <br>
    <h1>Join the community of women problem-solvers.<h1>
    <button type="button" class="btn btn-default btn-lg">Login</button>
    <button type="button" class="btn btn-danger btn-lg">Signup</button>
  </body>
</html>
