<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' type='text/css' href='/static/css/profile.css'>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-default'>
       <div class='container-fluid'>
         <ul class='nav navbar-nav navbar-right'>
          <li><a href='questions'>Questions</a></li>
          <li><a href='profile'>My Profile</a></li>
         </ul>
        </div>
       </nav>
    </header><br>
    <form id='left-align' method='post' action='/logout?_method=DELETE'>
      <button type='submit' class='logout-btn'>Logout</button>
    </form><br>
    <div class='column'>
	   <img src='http://info.abril.com.br/images/materias/2015/03/thumbs/thumb-65536-mulheresnatecnologia-resized.jpg'>
     <ul class='list'>
			<li class='info'>Username: <span class='pink'><%= user.username %>!</span>&#9786</li>
			<li class='info'>Favorite languages: </li>
			<li class='info'>Location: </li>
     </ul>
	 </div>
  </body>
</html>