<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' type='text/css' href='/static/css/questions.css'>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-default'>
       <div class='container-fluid'>
         <ul class='nav navbar-nav navbar-right'>
          <li><a href='questions'>Questions</a></li>
          <li><a href='profile'>My Profile</a></li>
         </ul>
        </div>
       </nav>
    </header>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Ask a question <small>#ladiescode</small></h1>
      </div>
      <form id="new-question-form">
        <input id='question-input' name='question' type='text' placeholder="Don't be shy!">
        <button type='submit'>Post</button>
      </form>
      <br>
      <ul class="list-group" id="question-ul">
      </ul>
    </div>
    <script type="text/template" id="question-template">
      <div class='list-group'>
        <button type="button" class="list-group-item">{{= question }}
          <button data-_id="{{= _id }}" onclick="deleteQuestion(this)" type="button">Delete</button>
          <button data-id="update" onclick="update()" type="button" >Edit</button>
        </button>
      </div>
    </script>
  </body>
</html>