<!DOCTYPE html>
<html> 
  <head>
    <% include partials/head %>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-default'>
       <div class='container-fluid'>
         <ul class='nav navbar-nav navbar-right'>
          <li><a href='/'>Home</a></li>
          <li><a href='about'>About</a></li>
         </ul>
        </div>
       </nav>
    </header>
       <br>
       <h1>Join the<span class='pink'> lovely</span> ladies of the coding community<span class='pink'> &#9829</span></h1>
    <form method='POST' action='/signup'>
  	<input required type='username' name='user[username]' placeholder='Username'><br><br>
    	<input required type='password' name='user[password]' placeholder='Password'><br><br>
    	<input type='submit' value='Signup' class='white-font' id='pink-btn'>
    </form>
  </body>
</html>
