h1 {
   font-size: 90px;
   color: white;
   text-align: left;
   font-family: 'Raleway';
   padding: 50px 100px -60px 100px;
}
body {
   text-align: center;
   font-family:'Raleway';
   background-color: #F62459;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    font-size: 32px;
    color: white;
    font-family: 'Raleway';
    padding-right: 40px;
}
form {
	color: black;
	font-size: 30px;
}
.pink {
	color: #F62459;
}
p {
  color: white;
  font-size: 32px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}
#pink-btn {
  background-color: #F62459;
}
.white-font {
  color: white;
}